<!-- Wappler include head-page="layouts/dashboard" fontawesome_5="cdn" bootstrap5="custom" is="dmx-app" id="conciliacao_fornecedores" appConnect="local" components="{dmxBootstrap5Navigation:{}}" -->
<meta name="ac:route" content="/conciliacao_fornecedores">

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->


            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="py-3 mb-4"><span class="text-muted fw-light">DataTables /</span> Advanced</h4>

                    <!-- Ajax Sourced Server-side -->
                    <div class="card">
                        <h5 class="card-header">Ajax Sourced Server-side</h5>
                        <div class="card-datatable text-nowrap">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                                        <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="datatables-ajax table dataTable no-footer" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Full name: activate to sort column descending" style="width: 190.175px;">Full name</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 120.125px;">Email</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 164.15px;">Position</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 132.413px;">Office</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 195.712px;">Start date</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 134.225px;">Salary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd">
                                                <td valign="top" colspan="6" class="dataTables_empty">Loading...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 0 to 0 of 0 entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a aria-controls="DataTables_Table_0" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="0" class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a aria-controls="DataTables_Table_0" aria-disabled="true" role="link" data-dt-idx="next" tabindex="0" class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Ajax Sourced Server-side -->

                    <hr class="my-5">

                    <!-- Column Search -->
                    <div class="card">
                        <h5 class="card-header">Column Search</h5>
                        <div class="card-datatable text-nowrap">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper dt-bootstrap5">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_1_length"><label>Show <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="form-select">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                                        <div id="DataTables_Table_1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_1"></label></div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="dt-column-search table dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 1206px;">
                                        <thead>
                                            <tr>
                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 159px;">Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 156px;">Email</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Post: activate to sort column ascending" style="width: 154px;">Post</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="City: activate to sort column ascending" style="width: 152px;">City</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 153px;">Date</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 164px;">Salary</th>
                                            </tr>
                                            <tr>
                                                <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Name"></th>
                                                <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Email"></th>
                                                <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Post"></th>
                                                <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search City"></th>
                                                <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Date"></th>
                                                <th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Salary"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd">
                                                <td valign="top" colspan="6" class="dataTables_empty">Loading...</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th rowspan="1" colspan="1">Name</th>
                                                <th rowspan="1" colspan="1">Email</th>
                                                <th rowspan="1" colspan="1">Post</th>
                                                <th rowspan="1" colspan="1">City</th>
                                                <th rowspan="1" colspan="1">Date</th>
                                                <th rowspan="1" colspan="1">Salary</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 0 to 0 of 0 entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_1_previous"><a aria-controls="DataTables_Table_1" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="0" class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_1_next"><a aria-controls="DataTables_Table_1" aria-disabled="true" role="link" data-dt-idx="next" tabindex="0" class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Column Search -->

                    <hr class="my-5">

                    <!-- Advanced Search -->
                    <div class="card">
                        <h5 class="card-header">Advanced Search</h5>
                        <!--Search Form -->
                        <div class="card-body">
                            <form class="dt_adv_search" method="GET">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row g-3">
                                            <div class="col-12 col-sm-6 col-lg-4">
                                                <label class="form-label">Name:</label>
                                                <input type="text" class="form-control dt-input dt-full-name" data-column="1" placeholder="Alaric Beslier" data-column-index="0">
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-4">
                                                <label class="form-label">Email:</label>
                                                <input type="text" class="form-control dt-input" data-column="2" placeholder="demo@example.com" data-column-index="1">
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-4">
                                                <label class="form-label">Post:</label>
                                                <input type="text" class="form-control dt-input" data-column="3" placeholder="Web designer" data-column-index="2">
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-4">
                                                <label class="form-label">City:</label>
                                                <input type="text" class="form-control dt-input" data-column="4" placeholder="Balky" data-column-index="3">
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-4">
                                                <label class="form-label">Date:</label>
                                                <div class="mb-0">
                                                    <input type="text" class="form-control dt-date flatpickr-range dt-input flatpickr-input" data-column="5" placeholder="StartDate to EndDate" data-column-index="4" name="dt_date" readonly="readonly">
                                                    <input type="hidden" class="form-control dt-date start_date dt-input" data-column="5" data-column-index="4" name="value_from_start_date" value="09/28/2024">
                                                    <input type="hidden" class="form-control dt-date end_date dt-input" name="value_from_end_date" data-column="5" data-column-index="4" value="10/05/2024">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-4">
                                                <label class="form-label">Salary:</label>
                                                <input type="text" class="form-control dt-input" data-column="6" placeholder="10000" data-column-index="5">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr class="mt-0">
                        <div class="card-datatable table-responsive">
                            <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper dt-bootstrap5">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="dt-advanced-search table dataTable dtr-column" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info">
                                            <thead>
                                                <tr>
                                                    <th class="control sorting_disabled dtr-hidden sorting_asc" rowspan="1" colspan="1" style="width: 53.725px; display: none;" aria-label=""></th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 142.488px;" aria-label="Name: activate to sort column ascending">Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 147.688px;" aria-label="Email: activate to sort column ascending">Email</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 132.9px;" aria-label="Post: activate to sort column ascending">Post</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 122.062px;" aria-label="City: activate to sort column ascending">City</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 129.462px;" aria-label="Date: activate to sort column ascending">Date</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" style="width: 162.475px;" aria-label="Salary: activate to sort column ascending">Salary</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="odd">
                                                    <td valign="top" colspan="6" class="dataTables_empty">No data available in table</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th class="control dtr-hidden" rowspan="1" colspan="1" style="display: none;"></th>
                                                    <th rowspan="1" colspan="1">Name</th>
                                                    <th rowspan="1" colspan="1">Email</th>
                                                    <th rowspan="1" colspan="1">Post</th>
                                                    <th rowspan="1" colspan="1">City</th>
                                                    <th rowspan="1" colspan="1">Date</th>
                                                    <th rowspan="1" colspan="1">Salary</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Showing 0 to 0 of 0 entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 dataTables_pager">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_2_previous"><a aria-controls="DataTables_Table_2" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="0" class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_2_next"><a aria-controls="DataTables_Table_2" aria-disabled="true" role="link" data-dt-idx="next" tabindex="0" class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Advanced Search -->

                    <hr class="my-5">

                    <!-- Responsive Datatable -->
                    <div class="card">
                        <h5 class="card-header">Responsive Datatable</h5>
                        <div class="card-datatable table-responsive">
                            <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper dt-bootstrap5">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="DataTables_Table_3_length"><label>Show <select name="DataTables_Table_3_length" aria-controls="DataTables_Table_3" class="form-select">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                                        <div id="DataTables_Table_3_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_3"></label></div>
                                    </div>
                                </div>
                                <table class="dt-responsive table dataTable dtr-column collapsed" id="DataTables_Table_3" aria-describedby="DataTables_Table_3_info">
                                    <thead>
                                        <tr>
                                            <th class="control sorting_disabled sorting_asc" rowspan="1" colspan="1" style="width: 17.4875px;" aria-label=""></th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 75.3375px;" aria-label="Name: activate to sort column ascending">Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 78.675px;" aria-label="Email: activate to sort column ascending">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 69.1625px;" aria-label="Post: activate to sort column ascending">Post</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 62.1875px;" aria-label="City: activate to sort column ascending">City</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 66.9375px;" aria-label="Date: activate to sort column ascending">Date</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 95.375px;" aria-label="Salary: activate to sort column ascending">Salary</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 57.1px;" aria-label="Age: activate to sort column ascending">Age</th>
                                            <th class="sorting dtr-hidden" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 142.062px; display: none;" aria-label="Experience: activate to sort column ascending">Experience</th>
                                            <th class="sorting dtr-hidden" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1" style="width: 88.475px; display: none;" aria-label="Status: activate to sort column ascending">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd">
                                            <td valign="top" colspan="8" class="dataTables_empty">No data available in table</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="control" rowspan="1" colspan="1" style=""></th>
                                            <th rowspan="1" colspan="1">Name</th>
                                            <th rowspan="1" colspan="1">Email</th>
                                            <th rowspan="1" colspan="1">Post</th>
                                            <th rowspan="1" colspan="1">City</th>
                                            <th rowspan="1" colspan="1">Date</th>
                                            <th rowspan="1" colspan="1">Salary</th>
                                            <th rowspan="1" colspan="1">Age</th>
                                            <th rowspan="1" colspan="1" class="dtr-hidden" style="display: none;">Experience</th>
                                            <th rowspan="1" colspan="1" class="dtr-hidden" style="display: none;">Status</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_3_info" role="status" aria-live="polite">Showing 0 to 0 of 0 entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_3_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_3_previous"><a aria-controls="DataTables_Table_3" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="0" class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_3_next"><a aria-controls="DataTables_Table_3" aria-disabled="true" role="link" data-dt-idx="next" tabindex="0" class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Responsive Datatable -->
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
</div>